name: prj_flutter
description: "password manager application."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^3.7.0
  shared_preferences: ^2.0.17 
  cloud_firestore: ^5.4.5
  encrypt: ^5.0.0
  pointycastle: ^3.0.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
